<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Add the following permissions for internet access and location services -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- If you need access to FINE location, you must request both ACCESS_FINE_LOCATION and ACCESS_COARSE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.NOTIFICATION_POLICY_ACCESS_GRANTED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" /> <!-- recently added -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> <!-- Added for sms -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDo_List"
        tools:targetApi="31">
        <activity
            android:name=".App_Options.TestActivity"
            android:exported="false" />
        <activity
            android:name=".Note.NoteMainActivity"
            android:exported="false"></activity>
        <activity
            android:name=".LoginSignup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSignup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Note.Edit"
            android:exported="false" />
        <activity
            android:name=".Note.HomeScreen"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Google Maps API KEY -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="${MAPS_API_KEY}" /> &lt;!&ndash; Define the notification channel &ndash;&gt; -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDNBApw6GyYW7ASzpfQCCKdkjC80bt7uQI" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- Register the BroadcastReceiver -->
        <receiver
            android:name=".Broadcast.ReminderBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.todo_list.ACTION_REMINDER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DashBoard_Option.DashboardActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.ToDo_List" />
    </application>

</manifest>