<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Add the following permissions for internet access and location services -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.NOTIFICATION_POLICY_ACCESS_GRANTED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDo_List"
        tools:targetApi="31">
        <activity
            android:name=".App_Options.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".App_Options.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".App_Options.Model.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".App_Options.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".App_Options.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceCalculator.AttendancePercentage"
            android:exported="false" />
        <activity
            android:name=".AttendanceCalculator.AttendanceCalculator"
            android:exported="false" />
        <activity
            android:name=".StopWatch.TimerActivity"
            android:exported="false" />
        <activity
            android:name=".StopWatch.StopWatchActivity"
            android:exported="false" />
        <activity
            android:name=".StopWatch.StopWatchHomeActivity"
            android:exported="false" />
        <activity
            android:name=".CgpaCalculator.CgpaActivity2"
            android:exported="false" />
        <activity
            android:name=".CgpaCalculator.CgpaActivity"
            android:exported="false" />
        <activity
            android:name=".App_Options.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".App_Options.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".Note.NoteMainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSignup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSignup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Note.Edit"
            android:exported="false" />
        <activity
            android:name=".Note.HomeScreen"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDNBApw6GyYW7ASzpfQCCKdkjC80bt7uQI" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name=".Broadcast.ReminderBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.todo_list.ACTION_REMINDER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DashBoard_Option.DashboardActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.ToDo_List" />
    </application>

</manifest>